<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>

  <!-- Footer -->
  <div id="barraFooter" class="w3-container w3-bottom" th:fragment="footer">
		<div class="w3-row">
  	  <div class="w3-col w3-quarter">
  	    &nbsp;
   	  </div>
  	  <div class="w3-col w3-half w3-center fontFooter">
	      <p class="w3-small " th:text="${applicationName} + ' ' + ${applicationVersion} + ' - Copyright &copy; 2020 - AR4'">kyivent - Copyright &copy; 2020 - AR4</p>
   	  </div>
  	  <div class="w3-col w3-quarter w3-right-align">
		<div id="listaBandiere" class="w3-hide-small">
			<span class="fa fa-flag" th:title="#{app.change.language}"></span>
			<a th:href="@{/?lang=en}" class="menuItem">En</a>
			<a th:href="@{/?lang=it}" class="menuItem">It</a>
		</div>
   	  </div>
	</div>
  </div>

</body>
</html>