<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>



	<div class="w3-row w3-top barraOrizzontale" th:fragment="header" id="divHeaderMain">
		<div class="w3-col l4">
		</div>

		<div class="w3-col l5 w3-center">
			<a th:href="@{/}">
				<span id="titoloAppBarraOriz">App prova</span>
			</a>
		</div>

		<div class="w3-col l3">
			<div id="elencoMenuOriz" class="w3-hide-small">
				

<!-- 				login -->
				<div id="divSignInUp">
					<a sec:authorize="not hasRole('ROLE_USER')" th:href="@{/login}" class="w3-right">
						login
					</a>
				</div>

<!-- 				logout -->
				<div id="divSignInUp">
					<span style="color: black;" sec:authorize="hasRole('ROLE_USER')"><strong>LOGIN EFFETTUATO!</strong></span>
					<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/logout}" class="w3-right">
						logout
					</a>
				</div>
				
				
			</div>

		</div>
	</div>

</body>
</html>