<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>



	<div class="w3-row w3-top barraOrizzontale" th:fragment="header" id="divHeaderMain">
		<div class="w3-col l4">
		</div>

		<div class="w3-col l5 w3-center">
			<span id="titoloAppBarraOriz">App prova</span>
		</div>

		<div class="w3-col l3">
			<div id="elencoMenuOriz" class="w3-hide-small">
				
<!-- 				user info -->
				<div sec:authorize="hasRole('ROLE_USER')" class="w3-right" id="userInfoDivMain">
<!-- 				img user logged con dropdown menu -->
					<a href="javascript:openCloseUserInfoDiv();" class="w3-right">
						<span class="fas fa-user-circle icoMiddle"></span>
					</a>
				  <div id="userInfoDiv" class="w3-dropdown-content w3-bar-block w3-border ">
				    <a href="#" th:href="@{/logout}" class="w3-bar-item menuItemuUserInfo" th:text="#{app.user.logout}">logout</a>
				  </div>
				</div>

<!-- 				login -->
				<div id="divSignInUp">
					<a sec:authorize="not hasRole('ROLE_USER')" th:href="@{/login}" class="w3-right">
						login
					</a>
				</div>
				
				
			</div>

		</div>
	</div>

</body>
</html>