<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>

	<!-- Sidebar -->
	<div th:fragment="mobileSideBar">
		<div class="w3-sidebar w3-bar-block w3-card-4 w3-hide-large" style="display:none" id="mySidebar">
		
		  <div class="w3-container w3-bar-item" id="divTopMobileSideBar">
			  <div class="" id="divFlagsMobile">
			  	<a href="#" th:href="@{/}"><span id="spanHomeMobileSideBar" class="fa fa-home"></span></a>
					<a th:href="@{/?lang=it}" class="changeLangMobile w3-right">It</a>
					<a th:href="@{/?lang=en}" class="changeLangMobile w3-right">En</a>
					<span class="fa fa-flag changeLangMobile w3-right" th:title="#{app.change.language}"></span>
			  </div>
		  </div>
		  <hr>
		  
		  <a href="#" th:href="@{/showEvents}" class="w3-bar-item menuItemMobileSideBar" th:utext="#{event.trova}">showEvents</a>
		  <a href="#" th:href="@{/event/home}" class="w3-bar-item menuItemMobileSideBar" th:utext="#{event.myEvents}">i miei eventi</a>
		  <a href="#" th:href="@{/club/home}" class="w3-bar-item menuItemMobileSideBar" th:utext="#{club.myClub}">i miei club</a>

	    <a sec:authorize="hasRole('ROLE_USER')" href="#" class="w3-bar-item menuItemMobileSideBar" th:text="#{app.user.profile}">tuo profilo</a>
	    <a sec:authorize="hasRole('ROLE_USER')" href="#" class="w3-bar-item menuItemMobileSideBar" th:text="#{app.help}">help</a>
	    <a sec:authorize="hasRole('ROLE_USER')" href="#" class="w3-bar-item menuItemMobileSideBar" th:text="#{app.setting}">setting</a>
			<hr sec:authorize="hasRole('ROLE_USER')" >


		  <div class="w3-container w3-bottom">
			  <div class="w3-container w3-left">
   			  <a href="#">
				    <span class="fa fa-user-circle-o icoMobile"></span>
				  </a>
			  </div>
			  
			  <!-- not logged in yet -->
			  <div sec:authorize="not hasRole('ROLE_USER')" id="divLoginMobileSideBar" class="w3-container w3-left">
				  <a href="#" th:href="@{/login}" class="w3-bar-item menuItemMobileSideBar" th:utext="#{menu.login}">login</a>
				  <a href="#" th:href="@{/user/register}" class="w3-bar-item menuItemMobileSideBar" th:utext="#{menu.register}">register</a>
			  </div>

			  <!-- logged in -->
			  <div sec:authorize="hasRole('ROLE_USER')" id="divLoginMobileSideBar" class="w3-container w3-left">
				  <b><a href="#" class="w3-bar-item menuItemMobileSideBar" th:text="${userLogged.nome}">logged user name</a></b>
				  <a href="#" th:href="@{/logout}" class="w3-bar-item menuItemMobileSideBar" th:utext="#{app.user.logout}">logout</a>
			  </div>
			  
		  </div>
		  
		</div>
	</div>

</body>
</html>