<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>

    <!-- Include del div mobile sidebar -->
    <div th:replace="fragments/mobileSideBar :: mobileSideBar"></div>


	<div id="mainContainer">
    <!-- Include del div top bar orizzontale -->
    <div th:replace="fragments/header :: header"></div>
	
		<div class="w3-row-padding" id="mainContainerInner">

			<div class="w3-row-padding w3-theme" id="mainContainerInner2" style="height: 40em;">
	      <h1 class="w3-border-bottom w3-center" th:utext="#{errors.pageNotFound}">404 - pagina non trovata</h1>
	
	      <div class="w3-panel w3-round" style="height: 20em;">
	        <p class="w3-xlarge w3-center w3-display-middle" th:utext="#{app.attenzione}+#{errors.pageNotFoundDes}">
	          <strong>Attention!</strong>pagina non trovata
	        </p>
	      </div>
			</div>
	
		</div>
		
	</div>
	
	<!-- footer -->
	<div th:replace="fragments/footer :: footer"></div>

  <!-- javaScript che deve trovarsi al fondo della pagina -->
  <script th:replace="fragments/scriptsBottomPage :: scriptsBottomPage"></script>

</body>
</html>
