<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>

	<!-- Include del div mobile sidebar -->
	<div th:replace="fragments/mobileSideBar :: mobileSideBar"></div>


	<div id="mainContainer">
		<!-- Include del div top bar orizzontale -->
		<div th:replace="fragments/header :: header"></div>


		<div class="w3-row-padding" id="mainContainerInner">


			<div class="w3-row w3-row-padding w3-theme w3-center" id="mainContainerInner2">
			
				<!-- pc -->
				<p class="w3-hide-small w3-left pulsantiTopSx">
					<a th:href="@{/event/home}"><span class="fa fa-arrow-circle-left menuItem"></span></a>
					<a th:utext="#{event.create.tornaIndietro}" th:href="@{/event/home}">torna ai miei eventi</a>
				</p>
				<!-- mobile -->
				<p class="w3-hide-large w3-left pulsantiTopSx">
					<a th:href="@{/event/home}"><span class="fa fa-arrow-circle-left"></span></a>
				</p>
				
				<!-- pc -->
				<p class="w3-hide-small w3-right pulsantiTopDx">
					<a th:href="@{/event/create/true}"><span class="fa fa-plus-square menuItem"></span></a>
					<a th:utext="#{event.create.new}" th:href="@{/event/create/true}">crea un nuovo evento</a>
				</p>
				
				<h1 class="w3-border-bottom titoloPage" th:utext="#{event.myEvents.all}">tutti i miei eventi</h1>
				
				<!-- mobile -->
				<p sec:authorize="hasRole('ROLE_USER')" class="w3-hide-large w3-left pulsantiAzioniMobile">
					<a th:href="@{/event/create/true}"><span class="fa fa-plus-square"></span></a>
					<a th:utext="#{event.create.new}" th:href="@{/event/create/true}">crea un nuovo evento</a>
				</p>
				
				<br>
				
				<div class="w3-white divContainerDataTable">
					<table id="tableEvents" class="w3-table w3-bordered w3-responsive">
						<caption style="display: none;">Events</caption>
						<thead class="w3-centered">
							<tr>
								<th id="thDescrizione" th:text="#{app.descrizione}">descrizione</th>
								<th id="thCategoria" th:text="#{event.create.categoria}">categoria</th>
								<th id="thDataOra" th:text="#{event.dataOra}">data/ora</th>
								<th id="thIndirizzo" th:text="#{event.create.indirizzo}">indirizzo</th>
								<th id="thStato" th:text="#{event.stato}">stato</th>
								<th id="thNumeroPartecipanti" th:text="#{event.partecipanti}">partecipanti</th>
								<th id="thPrezzoPersona" th:text="#{event.prezzo}">prezzo</th>
								<th id="thPrezzoPersona" th:text="#{event.create.durata.short}">durata</th>
								<th id="thCreazione" th:text="#{event.creazione}">creazione</th>
                <th id="thAzioni" class="noSort" style="width: 1%"></th>
                <th id="thAzioni" class="noSort" style="width: 1%"></th>
                <th id="thAzioni" class="noSort" style="width: 1%"></th>
                <th id="thAzioni" class="noSort" style="width: 1%"></th>
                <th id="thAzioni" class="noSort" style="width: 1%"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="evento : ${allEventi}">
								<td th:text="${evento.descrizione}">descrizione</td>
								<td th:text="${evento.categoriaEvento.descrizioneIta}">categoria</td>
								<td class="tdCenter" th:text="${#dates.format(evento.dataOra, 'dd-MMM-yyyy [hh:mm]')}">data/ora</td>
								<td th:text="${evento.indirizzo}">indirizzo</td>
								<td class="tdCenter" th:text="${evento.stato}">stato</td>
								<td class="tdRight" th:text="${evento.numeroPartecipanti}">numero partecipanti</td>
								<td class="tdRight" th:text="${#numbers.formatDecimal(evento.prezzoPersona, 0, 'POINT', 2, 'COMMA')}">prezzo persona</td>
								<td class="tdRight" th:text="${#numbers.formatDecimal(evento.durataOre, 0, 'POINT', 1, 'COMMA')}">durata evento ore</td>
								<td class="tdCenter" th:text="${#dates.format(evento.dataCreazione, 'dd-MMM-yyyy')}">creazione</td>

                <td class="tdCenter">
								  <a class="w3-right" th:href="${evento.scaduto} ? @{#} : @{/event/delete/{idEvento}/true(idEvento=${evento.id})}" 
								  	th:title="${evento.scaduto}?#{event.myEvents.scaduto} : #{event.myEvents.delete}">
								  	<span class="fas fa-trash-alt icoAzioniDataTable" th:classappend="${evento.scaduto}? 'disabled'"></span>
								  </a>
                </td>
                <td class="tdCenter">
								  <a class="w3-right" th:href="${evento.scaduto} ? @{#} : @{/event/modifica/{idEvento}/true(idEvento=${evento.id})}" 
								  	th:title="${evento.scaduto}?#{event.myEvents.scaduto} : #{event.myEvents.modifica}">
								  	<span class="fas fa-pen-square icoAzioniDataTable" th:classappend="${evento.scaduto}? 'disabled'"></span>
								  </a>
                </td>
                <td class="tdCenter">
                	<a class="w3-right" th:href="@{/event/view/{idEvento}/true(idEvento=${evento.id})}" th:title="#{event.myEvents.view}">
                		<span class="fa fa-eye icoAzioniDataTable"></span>
                	</a>
                </td>
                <!-- TODO: da implementare -->
                <td class="tdCenter">
                	<a class="w3-right" href="" th:title="#{event.visualizza.partecipanti}">
                		<span class="fas fa-users icoAzioniDataTable"></span>
                	</a>
                </td>
                <td class="tdCenter">
								  <a class="w3-right" th:href="@{/event/duplicate/{idEvento}/true(idEvento=${evento.id})}" th:title="#{event.myEvents.duplicate}">
								  	<span class="fa fa-plus-square icoAzioniDataTable"></span>
								  </a>
                </td>
								
							</tr>
						</tbody>
					</table>
				</div>

			</div>


		</div>

	</div>

	<!-- footer -->
	<div th:replace="fragments/footer :: footer"></div>

  <!-- javaScript che deve trovarsi al fondo della pagina -->
  <script th:replace="fragments/scriptsBottomPage :: scriptsBottomPage"></script>

  <script th:inline="javascript">

	// url base del controller della pagina
	var urlBaseController = /*[[@{/event/viewAll}]]*/ "azione";

	// TODO: gestire internalizzazione con javascript (esempio conferma cancellazione)
	
	var table;
	$(document).ready( function () {
	  table = initDataTable("tableEvents", 480);
	});
	
  </script>

</body>
</html>
