<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>

	<!-- Include del div mobile sidebar -->
	<div th:replace="fragments/mobileSideBar :: mobileSideBar"></div>


	<div id="mainContainer">
		<!-- Include del div top bar orizzontale -->
		<div th:replace="fragments/header :: header"></div>

		<div class="w3-row-padding" id="mainContainerInner">

			<div class="w3-row w3-row-padding w3-theme w3-center" id="mainContainerInner2">
			
				<!-- pc -->
				<p sec:authorize="hasRole('ROLE_USER')" class="w3-left pulsantiTopSx w3-hide-small">
				  <!-- torna indietro da myEvents -->
					<a th:unless="${callDaAllEvents}" th:href="@{/event/home}" ><span class="fa fa-arrow-circle-left menuItem"></span></a>
					<a th:unless="${callDaAllEvents}" th:utext="#{event.create.tornaIndietro}" th:href="@{/event/home}">torna ai miei eventi</a>
					
				  <!-- torna indietro da allEvents -->
					<a th:if="${callDaAllEvents}" th:href="@{/event/viewAll}" ><span class="fa fa-arrow-circle-left menuItem"></span></a>
					<a th:if="${callDaAllEvents}" th:utext="#{app.azioni.tornaIndietro}" th:href="@{/event/viewAll}">torna indietro</a>
				</p>
				<!-- mobile -->
			  <!-- torna indietro da myEvents -->
				<p class="w3-hide-large w3-left pulsantiTopSx">
					<a th:unless="${callDaAllEvents}" th:href="@{/event/home}"><span class="fa fa-arrow-circle-left"></span></a>
					<a th:if="${callDaAllEvents}" th:href="@{/event/viewAll}"><span class="fa fa-arrow-circle-left"></span></a>
				</p>

				<!-- gestione titolo in base all'azione -->			
				<h1 th:if="not ${flgConsultazione} and not ${flgModifica}" class="w3-border-bottom titoloPage" th:utext="#{event.create.new}">crea evento</h1>
				<h1 th:if="${flgConsultazione}" class="w3-border-bottom titoloPage" th:utext="#{event.create.consulta}">consulta evento</h1>
			  <h1 th:if="${flgModifica}" class="w3-border-bottom titoloPage" th:utext="#{event.create.modifica}">modifica evento</h1>
				
				<br>
				<!-- per utenti non loggati -->
				<div sec:authorize="NOT hasRole('ROLE_USER')">
					<div class="w3-col l12">
					
						<div class="w3-row">
							<div class="w3-col l2 divSectionEventi">
							  <span class="fa fa-group icoSectionEventi"></span>
							</div>
							<div class="w3-col l10 w3-card-4 divSectionEventi w3-white">
							  <p th:utext="#{menu.crea.desc} + '<br>' + #{event.create.descrizioneEstesa}">descrizione</p>
							</div>
						</div>
						
					</div>
	
					&nbsp;
					<hr style="border-top: 1px solid white;">

					<p class="w3-center testoSectionEventi">
						<span th:text="#{event.create.userLogged}">per creare eventi devi essere loggato</span>
						<br>
						<br>
						<a th:utext="#{app.user.eseguiLogin}" th:href="@{/login}" >esegui il login</a>
						<a th:utext="#{app.user.oppureRegistrati}" th:href="@{/user/register}" >oppure registrati</a>
					</p>
					
				</div>
				
				<!-- ======================================================================================================================================= -->

				<!-- div per utenti loggati -->
				<div sec:authorize="hasRole('ROLE_USER')">
				
						<div class="w3-row">
							<div class="w3-col l2">
								&nbsp;
							</div>

							<div class="w3-col l8">
								<div class="">

									<form action="#" th:action="@{/event/save}" th:object="${event}" method="post">
						        <input type="hidden" id="flgModifica" name="flgModifica" th:value="${flgModifica}">
						        <input type="hidden" id="id" th:field="*{id}">
						        <input type="hidden" id="cittaId" th:field="*{cittaId}">
										<section class="sectionEvento w3-card-4">
											<!-- top header -->
											<div class="sectionEventoTopHeader">
												<div class="w3-row">
													<div class="w3-col l12 s12">
														<!-- gestione titolo in base all'azione -->
														<span th:if="not ${flgConsultazione} and not ${flgModifica}" class="statoEvento w3-left" th:text="#{event.new}">nuovo evento</span>
														<span th:if="${flgConsultazione} or ${flgModifica}" class="statoEvento w3-left" th:text="#{event}">evento</span>
													</div>
												</div>
											</div>
										  <!-- header -->
											<div class="sectionEventoHeader">
											
												<div class="w3-row">
													<div class="w3-col l7 s12">
							              <p>
							                <label for="categoriaEvento" th:utext="#{event.create.categoria}" class="w3-left">categoria</label>
							                <br> 
							                <select th:data-placeholder="#{app.azioni.seleziona}" autofocus="autofocus" class="select-css w3-left" style="width: 95%;" th:field="*{categoriaEvento}" id="categoriaEvento" name="categoriaEvento" required
							                	th:disabled="${fieldDisabled}">
							                  <option value=""></option>
							                  <option th:each="categoria : *{allCategorieEvento}" th:value="${categoria.chiaveOption}" th:text="${categoria.descrizioneOption}"></option>
							                </select>
														</p>		            
													</div>
													<div class="w3-col l1 s12 w3-hide-small">
														&nbsp;
													</div>
													<div class="w3-col l4 s12">
								            <p class="inputCheckBoxForm w3-left">
								              <input id="privato" class="inputCheckBoxForm" type="checkbox" th:field="*{privato}" th:disabled="${fieldDisabled}">
								              <label for="privato" th:utext="#{event.create.privato}">privato</label>
								            </p>
													</div>
												</div>

												<div class="w3-row">
													<div class="w3-col l7 s12">
							              <p>
							                <label for="descrizione" class="w3-left" th:utext="#{event.create.name}">nome evento</label><br>
							                <input id="descrizione" type="text" class="w3-left" style="width: 95%" th:field="*{descrizione}" required minlength="2" maxlength="250" 
							                	th:disabled="${fieldDisabled}">
							                <span class="error" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">error</span>
							              </p>
													</div>
													<div class="w3-col l1 s12 w3-hide-small">
														&nbsp;
													</div>
													<div class="w3-col l2 s12">
							              <p>
							                <label for="dataEvento" class="w3-left" th:utext="#{event.create.dataEvento}">data evento</label><br>
								              <input id="dataEvento" class="w3-left" type="date" th:field="*{dataEvento}" 
								               required min="1900-01-01" th:disabled="${fieldDisabled}">
															<span class="error" th:each="error: ${#fields.errors('dataEvento')}" th:text="${error}">validation error</span>
							              </p>
													</div>
													<div class="w3-col l2 s12">
							              <p>
							                <label for="oraEvento" class="w3-left" th:utext="#{event.create.oraEvento}">ora evento</label><br>
							                <input id="oraEvento" class="w3-left" type="time" th:field="*{oraEvento}" min="0"  th:disabled="${fieldDisabled}" required>
							                <span class="error" th:if="${#fields.hasErrors('oraEvento')}" th:errors="*{oraEvento}">error</span>
							              </p>
													</div>
												</div>
												
											</div>
											<!-- body -->
											<div class="sectionEventoBody">
											
												<div class="w3-row">
													<div class="w3-col l8 s12">
							              <p>
							                <label for="indirizzo" class="w3-left" th:utext="#{event.create.indirizzo}">indirizzo</label><br>
							                <input id="indirizzo" class="w3-left" type="text" style="width: 90%" th:field="*{indirizzo}" required minlength="2" maxlength="250" th:disabled="${fieldDisabled}">
							                <span class="error" th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}">error</span>
							              </p>
													</div>
													<div class="w3-col l4 s12">
							              <p>
							                <label for="citta" class="w3-left" th:utext="#{app.citta}">citta</label><br>
							                <input id="citta" disabled="disabled" class="w3-left" type="text" style="width: 80%" th:value="${@userLoggedSession.user.citta.descrizione}">
							              </p>
													</div>
												</div>
												<div class="w3-row">
													<div class="w3-col l4 s12">
							              <p>
							                <label for="numeroPartecipanti" class="w3-left" th:utext="#{event.create.numeroPartecipanti}">numero partecipanti</label><br>
							                <input id="numeroPartecipanti" class="w3-left" type="number" th:field="*{numeroPartecipanti}" min="0" style="width: 45%;" th:disabled="${fieldDisabled}">
							                <span class="error" th:if="${#fields.hasErrors('numeroPartecipanti')}" th:errors="*{numeroPartecipanti}">error</span>
							              </p>
													</div>
													<div class="w3-col l4 s12">
							              <p>
							                <label for="prezzoPersona" class="w3-left" th:utext="#{event.create.prezzoPersona}">prezzo persona</label><br>
							                <input id="prezzoPersona" class="w3-left" type="number" th:field="*{prezzoPersona}" step="any" min="0" style="width: 45%;" th:disabled="${fieldDisabled}">
							                <span class="error" th:if="${#fields.hasErrors('prezzoPersona')}" th:errors="*{prezzoPersona}">error</span>
							              </p>
													</div>
													<div class="w3-col l4 s12">
							              <p>
							                <label for="durataOre" class="w3-left" th:utext="#{event.create.durata}">durata evento (ore)</label><br>
							                <input id="durataOre" class="w3-left" type="number" th:field="*{durataOre}" step="0.5" min="0" style="width: 45%;" th:disabled="${fieldDisabled}">
							                <span class="error" th:if="${#fields.hasErrors('durataOre')}" th:errors="*{durataOre}">error</span>
							              </p>
													</div>
												</div>
												<div class="w3-row">
													<div class="w3-col l12 s12">
								            <p class="inputCheckBoxForm w3-left">
								              <input id="gestioneListaAttesa" class="inputCheckBoxForm" type="checkbox" th:field="*{gestioneListaAttesa}" th:disabled="${fieldDisabled}">
								              <label for="gestioneListaAttesa" th:utext="#{event.create.gestioneListaAttesa}">gestione lista attesa</label>
								            </p>
													</div>
												</div>
												<br>
												<hr>
												<div class="w3-row">
													<div class="w3-col l12 s12">
										        <button th:if="not ${flgConsultazione}" type="submit" class="w3-btn buttonDark w3-round w3-xlarge" th:text="${flgModifica} ? #{event.create.save} : #{event.create}">crea evento</button>
													</div>
												</div>
												<br>
											
											</div>
												
										</section>
									</form>
									
								</div>
							</div>
							
							<div class="w3-col l2">
								&nbsp;
							</div>
						</div>				
					
				</div>



			</div>

		</div>

	</div>

	<!-- footer -->
	<div th:replace="fragments/footer :: footer"></div>

  <!-- javaScript che deve trovarsi al fondo della pagina -->
  <script th:replace="fragments/scriptsBottomPage :: scriptsBottomPage"></script>

</body>
</html>
