<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>

	<div id="mainContainer">
	
    <!-- Include del div top bar orizzontale -->
    <div th:replace="fragments/header :: header"></div>
	
		<div class="w3-row-padding" id="mainContainerInner">

			<div class="w3-row-padding w3-theme w3-center">
				<h1>prima pagina (pagina visibile anche per utenti non loggati)</h1>
				
				<br>
				
				<h2>ma se da qui faccio login (ed è ok) voglio ritornare a questa pagina</h2>

				<br>
				
				<a sec:authorize="not hasRole('ROLE_USER')" th:href="@{/login}">
					login
				</a>
				
				
			</div>
	


					
	
		</div>
		
	</div>
	

</body>
</html>
