<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body style="background-color: lightblue;">

	<div id="mainContainer">
	
    <!-- Include del div top bar orizzontale -->
    <div th:replace="fragments/header :: header"></div>
	
		<div class="w3-row-padding" id="mainContainerInner">

			<div class="w3-row-padding w3-theme w3-center">
				<h2>prima pagina (pagina visibile anche per utenti non loggati)</h2>
				
				<br>
				
				<h1 style="font-size: 4em;"><strong>ma se da qui faccio login (ed è validato) voglio ritornare a questa pagina</strong></h1>

				<br>
				
				
			</div>
	


					
	
		</div>
		
	</div>
	

</body>
</html>
