<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>

	<div id="mainContainer">
		<!-- Include del div top bar orizzontale -->
		<div th:replace="fragments/header :: header"></div>

		<div class="w3-row-padding" id="mainContainerInner">


			<div class="w3-row w3-row-padding  w3-center" id="mainContainerInner2" style="height: 40em;">
				<h1 class="w3-border-bottom" >login</h1>

				<div class="w3-col l4">
					&nbsp;
				</div>

				<div class="w3-col l4 w3-center">
					<form class="w3-container w3-card-4" th:action="@{/login}" method="post">
					
						<br class="w3-hide-small">
						
            <p>
              <input name="username" id="username" class="" type="email" autofocus="autofocus" placeholder="email"  
              required minlength="2" maxlength="200">
            </p>
            <p>
              <input name="password" id="password" class="" type="password" autofocus="autofocus"   placeholder="password"
              required minlength="2" maxlength="200">
            </p>
						
						<br>
						<p>
			        <button type="submit" class="w3-btn buttonDark w3-round" >login</button>
						</p>
						
						
						
					  <br>
					  &nbsp;

					</form>

					
					
				</div>

				<div class="w3-col l4">
					&nbsp;
				</div>

			</div>

		</div>

	</div>

</body>
</html>
