<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>

	<!-- Include del div mobile sidebar -->
	<div th:replace="fragments/mobileSideBar :: mobileSideBar"></div>


	<div id="mainContainer">
		<!-- Include del div top bar orizzontale -->
		<div th:replace="fragments/header :: header"></div>


		<div class="w3-row-padding" id="mainContainerInner">


			<div class="w3-row w3-row-padding w3-theme w3-center" id="mainContainerInner2">
				
				<!-- pc -->
				<p sec:authorize="hasRole('ROLE_USER')" class="w3-hide-small w3-left pulsantiTopSx">
					<a th:href="@{/event/create/false}"><span class="fa fa-plus-square menuItem"></span></a>
					<a th:utext="#{event.create.new}" th:href="@{/event/create/false}">crea un nuovo evento</a>
				</p>

				<!-- pc -->
				<p sec:authorize="hasRole('ROLE_USER')" class="w3-hide-small w3-right pulsantiTopDx" th:if="${numeroEventiTotali}>5">
					<a th:utext="#{event.myEvents.viewAll}" th:href="@{/event/viewAll}" class="w3-right">visualizza tutti gli eventi</a>
					<a th:href="@{/event/viewAll}"><span class="fa fa-eye menuItem w3-right"></span></a>
				</p>
			
				<h1 class="w3-border-bottom titoloPage" th:utext="'<strong>' + #{event.myEvents} + '</strong>'">i miei eventi</h1>
				
				<!-- mobile -->
				<p sec:authorize="hasRole('ROLE_USER')" class="w3-hide-large w3-left pulsantiAzioniMobile">
					<a th:href="@{/event/create/false}"><span class="fa fa-plus-square"></span></a>
					<a th:utext="#{event.create.new}" th:href="@{/event/create/false}">crea un nuovo evento</a>
				</p>

				<!-- per utenti non loggati -->
				<div sec:authorize="NOT hasRole('ROLE_USER')">
					<div class="w3-col l12">
					
						<div class="w3-row">
							<div class="w3-col l2 divSectionEventi">
							  <span class="fa fa-group icoSectionEventi"></span>
							</div>
							<div class="w3-col l10 w3-card-4 divSectionEventi w3-white">
							  <p th:utext="#{menu.crea.desc} + '<br>' + #{event.create.descrizioneEstesa}">descrizione</p>
							</div>
						</div>
						
					</div>
	
					&nbsp;
					<hr style="border-top: 1px solid white;">

					<p class="w3-center testoSectionEventi">
						<span th:text="#{event.create.userLogged}">per creare eventi devi essere loggato</span>
						<br>
						<br>
						<a th:utext="#{app.user.eseguiLogin}" th:href="@{/login}">esegui il login</a>
						<a th:utext="#{app.user.oppureRegistrati}" th:href="@{/user/register}">oppure registrati</a>
					</p>
					
				</div>
				
				
				
				
				
				<!-- div per utenti loggati -->
				<div sec:authorize="hasRole('ROLE_USER')" class="w3-left-align">

					<!-- div per utenti loggati -->
					<div th:if="${not #lists.isEmpty(allEventi)}">
					
						<div class="w3-row">
							<div class="w3-col l1">
								&nbsp;
							</div>

							<div class="w3-col l10">
								<div class="">

									<section th:each="evento : ${allEventi}" class="sectionEvento w3-card-4">
										<!-- top header -->
										<div class="sectionEventoTopHeader">
											<div class="w3-row">
												<div class="w3-col l8 s4">
												  <!-- stato attivo -->
													<span th:if="${evento.stato}=='ATTIVO'" class="fas fa-thumbs-up attivo statoEvento" th:title="'Evento ' + ${evento.stato}"></span>
													<span th:if="${evento.stato}=='ATTIVO'" class="statoEvento" th:text="${evento.stato}">evento attivo</span>
<!-- 												  stato annullato -->
													<span th:if="${evento.stato}=='ANNULLATO'" class="fas fa-window-close annullato statoEvento" th:title="'Evento ' + ${evento.stato}"></span>
													<span th:if="${evento.stato}=='ANNULLATO'" class="statoEvento" th:text="${evento.stato}">stato annullato</span>
<!-- 												  stato scaduto -->
													<span th:if="${evento.stato}=='SCADUTO' or ${evento.scaduto}" class="fas fa-calendar-times scaduto statoEvento" th:title="'Evento ' + #{event.stato.scaduto}"></span>
													<span th:if="${evento.stato}=='SCADUTO' or ${evento.scaduto}" class="statoEvento" th:text="#{event.stato.scaduto}">stato scaduto</span>
													
												</div>
												<div class="w3-col l4 s8">
													<div class="w3-row">
														<div class="w3-col l7 s2">
															&nbsp;
														</div>
														<!-- delete -->
														<div class="w3-col l1 s2 ">
															<a class="" href="#" th:href="${evento.scaduto} ? @{#} : @{/event/delete/{idEvento}/false(idEvento=${evento.id})}" 
															  th:title="${evento.scaduto}?#{event.myEvents.scaduto} : #{event.myEvents.delete}">
																<span class="fas fa-trash-alt icoAzioniTopHeader" th:classappend="${evento.scaduto}? 'disabled' : 'menuItem'"></span>
															</a>
														</div>
														<!-- modifica -->
														<div class="w3-col l1 s2 ">
															<a class="" href="#" th:href="${evento.scaduto} ? @{#} : @{/event/modifica/{idEvento}/false(idEvento=${evento.id})}" 
																th:title="${evento.scaduto}?#{event.myEvents.scaduto} : #{event.myEvents.modifica}">
																<span class="fas fa-pen-square icoAzioniTopHeader" th:classappend="${evento.scaduto}? 'disabled' : 'menuItem'"></span>
															</a>
														</div>
														<!-- consultazione -->
														<div class="w3-col l1 s2 ">
															<a class="" href="#" th:href="@{/event/view/{idEvento}/false(idEvento=${evento.id})}" th:title="#{event.myEvents.view}">
																<span class="fas fa-eye menuItem icoAzioniTopHeader"></span>
															</a>
														</div>
														<!-- TODO:da fare visualizza elenco utenti -->
														<div class="w3-col l1 s2 ">
															<a class="" href="#" th:title="#{event.visualizza.partecipanti}"><span class="fas fa-users menuItem icoAzioniTopHeader"></span></a>
														</div>
														<!-- duplica -->
														<div class="w3-col l1 s2 ">
															<a class="" href="#" th:href="@{/event/duplicate/{idEvento}/false(idEvento=${evento.id})}" th:title="#{event.myEvents.duplicate}">
																<span class="fas fa-clone menuItem icoAzioniTopHeader"></span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									  <!-- header -->
										<div class="sectionEventoHeader" th:classappend="${evento.scaduto} ? 'eventoScaduto'">
											<div class="w3-row">
												<div class="w3-col l7">
													<span class="ico" th:classappend="${evento.categoriaEvento.iconaFntAws}" th:title="${evento.categoriaEvento.descrizioneIta}"></span>
													<span><strong th:text="${evento.descrizione}">descrizione evento</strong></span>
													&nbsp;<span th:text="'(' + ${evento.categoriaEvento.descrizioneIta} + ')'">(descrizione categoria)</span>
												</div>
												<!-- pc -->
												<div class="w3-col l5 w3-right-align w3-hide-small">
													<span class="far fa-clock ico" th:title="#{event.create.dataEvento}"></span>
													<span class="dataEvento" th:text="${evento.giornoSettimana} + ' '">giorno settimana</span>
													<span class="dataEvento">
														<strong th:text="${#dates.format(evento.dataOra, 'dd-MMM-yyyy [hh:mm]')}">data ora</strong>
													</span>
												</div>
												<!-- mobile -->
												<div class="w3-col l5 w3-hide-large">
													<span class="far fa-clock ico" th:title="#{event.create.dataEvento}"></span>
													<span class="dataEvento" th:text="${evento.giornoSettimana} + ' '">giorno settimana</span>
													<span class="dataEvento">
														<strong th:text="${#dates.format(evento.dataOra, 'dd-MMM-yyyy [hh:mm]')}">data ora</strong>
													</span>
												</div>
											</div>
										</div>
										<!-- body -->
										<div class="sectionEventoBody" th:classappend="${evento.scaduto} ? 'eventoScaduto'">
											<div class="w3-row">
												<!-- pc -->
												<div class="w3-col l8 w3-hide-small">
											  	<p>
												  	<span class="fas fa-map-marker-alt ico w3-center"></span><span th:text="#{event.create.indirizzo} + ':'">Indirizzo:</span><span><strong th:text="' ' + ${evento.indirizzo}">indirizzo</strong></span>
											  	</p>
											  	<p>
												  	<span class="fas fa-users ico w3-center"></span><span th:text="#{event.iscritti} + ':'">Iscritti:</span><span><strong>numero iscritti</strong></span>
												  	&nbsp;&nbsp;
												  	<!-- TODO: da implementare -->
												  	<a th:text="#{app.azioni.visualizzaElenco}" class="italic w3-hide-small" href="#">visualizza elenco</a>
												  	<a th:href="@{/event/viewAll}"><span class="fas fa-users menuItem w3-hide-small"></span></a>
											  	</p>
											  	<p>
											  		<span class="fas fa-calendar-check ico w3-center"></span><span th:text="#{event.creazione} + ':'">Creazione:</span><span><strong th:text="${' ' + #dates.format(evento.dataCreazione, 'dd-MMM-yyyy')}">data creazione</strong></span>
											  	</p>
												</div>
												<!-- pc -->
												<div class="w3-col l4 w3-right-align w3-hide-small">
											  	<p>
											  		<span class="fas fa-money-bill-alt ico w3-center"></span><span th:text="#{event.prezzo} + ':'">Prezzo:</span><span><strong th:text="' ' + ${#numbers.formatDecimal(evento.prezzoPersona, 0, 'POINT', 2, 'COMMA')}"></strong></span>
											  	</p>
											  	<p th:if="${evento.numeroPartecipanti}!=0">
												  	<span class="fas fa-users-cog ico w3-center"></span><span th:text="#{event.partecipanti.richiesti} + ':'">Partecipanti richiesti:</span><span><strong th:text="' ' + ${evento.numeroPartecipanti}">numero partecipanti richiesti</strong></span>
											  	</p>
											  	<p th:if="${evento.durataOre}!=0.0">
												  	<span class="fas fa-hourglass ico w3-center"></span><span th:text="#{event.create.durata} + ':'">durata evento ore:</span><span><strong th:text="' ' + ${#numbers.formatDecimal(evento.durataOre, 0, 'POINT', 1, 'COMMA')}">durata evento ore</strong></span>
											  	</p>
												</div>

												<!-- mobile -->
												<div class="w3-col l12 w3-hide-large">
											  	<p>
												  	<span class="fas fa-map-marker-alt ico w3-center"></span><span th:text="#{event.create.indirizzo} + ':'">Indirizzo:</span><span><strong th:text="' ' + ${evento.indirizzo}">indirizzo</strong></span>
											  	</p>
											  	<p th:if="${evento.numeroPartecipanti}!=0">
												  	<span class="fas fa-users-cog ico w3-center"></span><span th:text="#{event.partecipanti.richiesti} + ':'">Partecipanti richiesti:</span><span><strong th:text="' ' + ${evento.numeroPartecipanti}">numero partecipanti richiesti</strong></span>
											  	</p>
											  	<p>
												  	<span class="fas fa-users ico w3-center"></span><span th:text="#{event.iscritti} + ':'">Iscritti:</span><span><strong>numero iscritti</strong></span>
												  	&nbsp;&nbsp;
												  	<!-- TODO: da implementare -->
												  	<a th:text="#{app.azioni.visualizzaElenco}" class="italic w3-hide-small" href="#">visualizza elenco</a>
												  	<a th:href="@{/event/viewAll}"><span class="fas fa-users menuItem w3-hide-small"></span></a>
											  	</p>
											  	<p>
											  		<span class="fas fa-money-bill-alt ico w3-center"></span><span th:text="#{event.prezzo} + ':'">Prezzo:</span><span><strong th:text="' ' + ${#numbers.formatDecimal(evento.prezzoPersona, 0, 'POINT', 2, 'COMMA')}"></strong></span>
											  	</p>
											  	
											  	<p th:if="${evento.durataOre}!=0.0">
											  		<span class="fas fa-hourglass ico w3-center"></span><span th:text="#{event.create.durata} + ':'">durata ore</span><span><strong th:text="' ' + ${#numbers.formatDecimal(evento.durataOre, 0, 'POINT', 1, 'COMMA')}"></strong></span>
											  	</p>
											  	
											  	<p>
											  		<span class="fas fa-calendar-check ico w3-center"></span><span th:text="#{event.creazione} + ':'">Creazione:</span><span><strong th:text="${' ' + #dates.format(evento.dataCreazione, 'dd-MMM-yyyy')}">data creazione</strong></span>
											  	</p>
												</div>
												
											</div>
										</div>
											
									</section>
									

										
		
		
		
									
									<section th:if="${numeroEventiTotali}>5" class="w3-container fontDivWhite">
										<!-- pc -->
									  <p class="lastRowEventi w3-right w3-hide-small">
											<a th:href="@{/event/viewAll}"><span class="fa fa-eye menuItem"></span></a>
											<a th:utext="#{event.myEvents.viewAll}" th:href="@{/event/viewAll}">visualizza tutti gli eventi</a>
										</p>
										<!-- mobile -->
									  <p class="lastRowEventi w3-right pulsantiAzioniMobile w3-hide-large">
											<a th:href="@{/event/viewAll}"><span class="fa fa-eye menuItem"></span></a>
											<a th:utext="#{event.myEvents.viewAll}" th:href="@{/event/viewAll}">visualizza tutti gli eventi</a>
										</p>
									</section>
								</div>
							</div>
							
							<div class="w3-col l1">
								&nbsp;
							</div>
						</div>
					

					</div>
					
					<div class="bordoTopWhiteDiv" th:if="${#lists.isEmpty(allEventi)}">
						<br>
						<br>
						<h2 th:utext="#{event.myEvents.empty}" class="w3-center">non hai ancora creato nessun evento</h2>
				  </div>
									
				</div>				
				

			</div>

			<div th:if="${showAlert}" class="w3-panel w3-round-large w3-bottom w3-border divAlert w3-animate-opacity" id="divAlertSuccess">
				<div class="divHeaderAlert">
					<a href="javascript:closeAlert('divAlertSuccess');" class="closeAlert w3-display-topright">
						<span class="fas fa-times-circle"></span>
					</a>
				  <span class="fa fa-check-circle success"></span>
				  <span th:utext="#{app.operazione.completataSuccesso}" class="titoloHeader"><strong>operazione completata con successo</strong></span>
				</div>
			  <p th:text="${msgAlert}">messaggio alert</p>
			</div>

		</div>

	</div>

	<!-- footer -->
	<div th:replace="fragments/footer :: footer"></div>

  <!-- javaScript che deve trovarsi al fondo della pagina -->
  <script th:replace="fragments/scriptsBottomPage :: scriptsBottomPage"></script>

  <script th:inline="javascript">
	  $(document).ready(function(){
		  setTimeout(function(){ 
			  $("#divAlertSuccess").hide(); 
			}, 5000);
	  });
	  
	  function closeAlert(idDiv){
			  $("#divAlertSuccess").hide(); 
	  }
  
  </script>

</body>
</html>
