<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="it">

<!-- head fragment: contiene title, meta, incluse (css,js) -->
<head th:replace="fragments/headPage :: headPage"></head>

<body>

	<!-- Include del div mobile sidebar -->
	<div th:replace="fragments/mobileSideBar :: mobileSideBar"></div>


	<div id="mainContainer">
		<!-- Include del div top bar orizzontale -->
		<div th:replace="fragments/header :: header"></div>

		<div class="w3-row-padding" id="mainContainerInner">


			<div class="w3-row w3-row-padding w3-theme w3-center" id="mainContainerInner2" style="height: 44em;">
				<h1 class="w3-border-bottom" th:utext="#{app.user.register}">register</h1>

				<div class="w3-col l4">
					&nbsp;
				</div>

				<div class="w3-col l4 w3-center">
					<form class="w3-container w3-card-4" action="#" th:action="@{/user/register}" th:object="${user}" method="post">

					<br class="w3-hide-small">

	        <div class="w3-row">
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	          <div class="w3-col l10 s12">
	            <p>
	              <input id="nome" class="" type="text" th:field="*{nome}" autofocus="autofocus" th:placeholder="#{app.user.name}" 
	              required minlength="2" maxlength="200">
								<span class="pErrorField w3-left" th:each="error: ${#fields.errors('nome')}" th:text="${error}">validation error</span>
	            </p>
	          </div>
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	        </div>

	        <div class="w3-row">
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	          <div class="w3-col l10 s12">
	            <p>
	              <input id="cognome" class="" type="text" th:field="*{cognome}" autofocus="autofocus" th:placeholder="#{app.user.surname}" 
	              required minlength="2" maxlength="200">
								<span class="pErrorField w3-left" th:each="error: ${#fields.errors('cognome')}" th:text="${error}">validation error</span>
	            </p>
	          </div>
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	        </div>

	        <div class="w3-row">
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	          <div class="w3-col l10 s12">
	            <p>
	              <input id="email" class="" type="email" th:field="*{email}" autofocus="autofocus" th:placeholder="#{app.user.email}" 
	              required minlength="2" maxlength="200">
								<span class="pErrorField w3-left" th:each="error: ${#fields.errors('email')}" th:text="${error}">validation error</span>
	            </p>
	          </div>
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	        </div>

	        <div class="w3-row">
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	          <div class="w3-col l10 s12">
	            <p>
	              <input id="password" class="" type="password" th:field="*{password}" autofocus="autofocus" th:placeholder="#{app.user.password}" 
	              required minlength="2" maxlength="200">
								<span class="pErrorField w3-left" th:each="error: ${#fields.errors('password')}" th:text="${error}">validation error</span>
	            </p>
	          </div>
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	        </div>

<!-- 	        <div class="w3-row"> -->
<!-- 	          <div class="w3-col l1 w3-hide-small"> -->
<!-- 		            &nbsp; -->
<!-- 		          </div> -->
<!-- 	          <div class="w3-col l10 s12"> -->
<!-- 	            <p> -->
<!-- 	              <input id="matchingPassword" class="" type="password" th:field="*{matchingPassword}" autofocus="autofocus" th:placeholder="#{app.user.matchingPassword}"> -->
<!-- 							<span class="pErrorField w3-left" th:each="error: ${#fields.errors('matchingPassword')}" th:text="${error}">validation error</span> -->
<!-- 	            </p> -->
<!-- 	          </div> -->
<!-- 	          <div class="w3-col l1 w3-hide-small"> -->
<!-- 	            &nbsp; -->
<!-- 	          </div> -->
<!-- 	        </div> -->

	        <div class="w3-row">
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	          <div class="w3-col l10 s12">
	            <p>
                <label class="w3-left" for="dataNascita" th:utext="#{app.user.data.nascita}">data nascita</label>
	              <input id="dataNascita" class="" type="date" th:field="*{dataNascita}" autofocus="autofocus" 
	               required min="1900-01-01">
								<span class="pErrorField w3-left" th:each="error: ${#fields.errors('dataNascita')}" th:text="${error}">validation error</span>
	            </p>
	          </div>
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	        </div>

	        <div class="w3-row">
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	          <div class="w3-col l10 s12">
	            <ul class="elencoInline">
	              <li th:each="sesso : *{allSesso}">
	                <input type="radio" th:field="*{sesso}" th:value="${sesso.chiaveOption}" required="required">
	                <label th:for="${#ids.prev('sesso')}" th:text="${sesso.descrizioneOption}">sesso</label>
	              </li>
	            </ul>
	          </div>
	          <div class="w3-col l1 w3-hide-small">
	            &nbsp;
	          </div>
	        </div>
	        
	        <button type="submit" class="w3-btn buttonDark w3-round" th:text="#{app.user.iscriviti}">iscriviti</button>

					<br>
					&nbsp;

					</form>
					
				</div>

				<div class="w3-col l4">
					&nbsp;
				</div>

			</div>

		</div>

	</div>

	<!-- footer -->
	<div th:replace="fragments/footer :: footer"></div>

  <!-- javaScript che deve trovarsi al fondo della pagina -->
  <script th:replace="fragments/scriptsBottomPage :: scriptsBottomPage"></script>

</body>
</html>
